<div class="container">
<div class="col-xs-12 col-sm-6" style="border: 1px solid;border-radius:5px;">
  <h3> About </h3>
  <p class="text-justify"> <a href="mailto:escholarship.library@mcgill.ca" style="text-decoration:underline;">eScholarship@McGill</a> is a digital repository, which collects, preserves, and showcases the publications, scholarly works, and theses of McGill University faculty members, researchers, and students. <br><br> All scholarly works          authored by faculty and students can be deposited in the digital repository.
  </p>
  <p> What can go into eScholarship? </p>
  <ul class="list">
    <li>  open access research articles </li>
    <li>  research reports </li>
    <li>  doctoral dissertations and theses </li>
    <li>  honors theses </li>
    <li>  book chapters </li>
    <li>  departmental or research center reports </li>
    <li>  images, audio, and video files </li> 
    <li>  technical reports </li>
  </ul>
</div><!-- /.col-xs-6 -->

<div class="col-xs-12 col-sm-5 col-sm-offset-1">
  <div class="row" style="margin-bottom:5%;">
    <div class="col-sm-12" style="height:100px; border: 1px solid;border-radius:5px; display:flex;align-items:center;justify-content:center;margin-bottom:1%; ">
      <a href="/catalog?f%5Bhuman_readable_type_sim%5D%5B%5D=Collection&locale=en" class="btn btn-primary">Browse by Category </a>
    </div>
    <p> Discover the kinds of content in eScholarship.  </p>
  </div>


  <div class="row">
    <div class="col-sm-12 text-center" style="border: 1px solid;border-radius:5px;height:23rem;">
      <p class="lead" style="padding-top:5%;"> Questions?</p>
      <p> Contact <a href="mailto:escholarship.library@mcgill.ca">escholarship.library@mcgill.ca</a> </p>
      <p style="margin-top:5%;"> eScholarship is hosted and maintained by McGill University Library & Archives </p> 
    </div>
  </div>
</div>
</div>
