SIDEKIQ_WORKERS=5
RAILS_ENV=development
NODE_ENV=development
RAILS_HOST=escholarship-local.mcgill.ca
SITE_URL=escholarship-local.mcgill.ca
PROJECT_NAME=murax
REPO_URL=ssh://git@scm.library.mcgill.ca:7999/adir/murax.git
REPO_BRANCH=master
IS_LIVE=false
OAI_REPO_NAME=eScholarship@McGill
OAI_RECORD_PREFIX=oai:dgeneral-2.library.mcgill.ca:3000
OAI_ADMIN_EMAIL='dev.library@mcgill.ca'
OAI_DOCUMENT_LIMIT=25
OAI_SAMPLE_ID=109660
OAI_URL=http://dgeneral-2.library.mcgill.ca:3000/catalog/oai
DATABASE_ADAPTER=postgres
DATABASE_POOL=5
DATABASE_HOST=postgres.docker.local
DATABASE_NAME=murax
DATABASE_USERNAME=murax
DATABASE_PASSWORD=murax123
DATABASE_PORT=5432
ADMIN_NAME="Dev Library"
ADMIN_USERNAME=dev.library
ADMIN_EMAIL=dev.library@mcgill.ca
ADMIN_PASSWORD=Y3c8Uar3tY
CONTACT_US_EMAIL=escholarship.library@mcgill.ca
APP_PATH=/storage/www/murax/current
UPLOAD_PATH=/storage/www/uploads
CACHE_PATH=/storage/www/uploads/cache
TMP_PATH=/storage/www/tmp
WORKING_PATH=/storage/www/uploads
DERIVATIVES_PATH=/storage/www/derivatives
FEDORA_URL=http://fcrepo.docker.local:8080/fcrepo/rest
FEDORA_USER=fedoraAdmin
FEDORA_PASSWORD=NSW2sdj7huRNtV8
FEDORA_HOST=fcrepo.docker.local
FEDORA_PORT=8080
FEDORA_BASE_PATH=murax
SOLR_PORT=8983
SOLR_HOST=solr.docker.local
SOLR_URL=http://solr.docker.local:8983/solr/murax
SOLR_CORE=murax
REDIS_HOST=localhost
REDIS_PORT=6379
DEFAULT_ADMIN_SET="Admin Set"
DEFAULT_DEPOSITOR_EMAIL=dev.library@mcgill.ca
SECRET_TOKEN=43d4468b7e2a1dd3493b801c471300c87f55c1e64f5d2a3c4d21270ea5162a7f7ffbf3f544af87d000a8968e3065c3aa8c54c19c60b79d5fca831fa32a5c1a19
DEVISE_TOKEN=6c8affd03edf993fd0517fb295ef23a769271eea06e30fd181ace4cc25222e15eb72cf41b1cfcdcc6e53f1fde455cc362a98ecec150b8dd76c50bab308b0edc7
HYRAX_ANALYTICS=true
HYRAX_ANALYTICS_PROVIDER=google
GOOGLE_ANALYTICS_ID="UA-146667563-1"
ANALYTICS_START_DATE=2020-02-10
GA_APP_NAME="escholarship"
GA_APP_VERSION=1.0
GA_PRIVATE_KEY_PATH=/storage/www/murax/current/escholarship-294403ff986f.p12
GA_PRIVATE_KEY_SECRET=notasecret
GA_CLIENT_EMAIL=escholarship@escholarship.iam.gserviceaccount.com
FITS_LOCATION='/usr/local/bin/fits.sh'
PYTHON_BIN="/usr/bin/python"
MAIL_PORT="25"
MAIL_HOST="mail.docker.local"