/* This applies to the annoucement div on the murax homepage */
div#announcement {
  &.row {
    padding-top: 0;
  } 
}
.homepage-questions {
  .homepage-faq {
    margin-top:5%;

    .homepage-faq-link {
    text-decoration: underline;
    }
  } 
  .info {
    margin-bottom:5%;
  }
  .contact {
    margin-top:5%;
  }
}
.image-masthead {
  .background-container-gradient {
    background: none !important;
  }
}
