<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
    Below is a report of the last import that occured on <DATE> at <TIME>
    </p>
    <h6>summary</h6>
    <p> <xxx> items imported
    <h6> Error list</h6>
    <ul>
        <li>
            
        </li>
    </ul>
    <h6> View items</h6>
    <a href-""><LINK></a>
  </body>
</html>
