.modal{:role => "dialog", :tabindex => "-1", :id => "importlog-#{pid}-Modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Import log for #{pid}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %div #{pid}
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
