%body
  #content-wrapper.container{ role: "main"}
    .col-xs-12
      %h2
        500 Internal server error.
      %p We are very sorry, it seems there is a problem with our servers.
      %p Rest assured that our developers are working hard to repair it, please come back soon.
      %br
      %p If you continue to see this error please contact us @ escholarship.library@mcgill.ca
