<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
       background-color:#BE1121;
       font-family: calibri light;
     }
     .email-body-table {
        background-color:#BE1121;
       font-family: calibri light;
     }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
